title = "Produto"
url = "/produto/:slug"
layout = "default"
is_hidden = 0

[builderDetails]
modelClass = "Zmark\Content\Models\Produto"
identifierValue = "{{ :slug }}"
modelKeyColumn = "slug"
displayColumn = "title"
notFoundMessage = "Registro não encontrado"
==
{% set record = builderDetails.record %}
{% set displayColumn = builderDetails.displayColumn %}
{% set notFoundMessage = builderDetails.notFoundMessage %}

<div class="container">
    <div class="row">
      <div class="col-12">
        {% if record %}
            <h2>{{ record.title }}</h2>
            <p><b>Marca:</b> {{ record.brand }}</p>
            <p><b>Categoria:</b> {{ record.categoria.title }}</p>
        </div>
        <div class="col-3">
            <img src="{{ record.image.thumb(200,auto) }}" alt="{{ record.image.title }}">
        </div>
        <div class="col-9">
            {{ record.description|raw }}
        </div>            
            
            
        {% else %}
            {{ notFoundMessage }}
        {% endif %}
    </div>
    <h3 class="mt-5 mb-3">Galeria:</h3>
    <div class="row">
        
        {% for galleryImage in record.gallery %}
            <div class="col-3">
                <a href="{{ galleryImage.path }}">
                    <img src="{{ galleryImage.thumb(200,200,{'mode':'crop'}) }}" alt="">
                </a>
            </div>
        {% endfor %}
    </div>
    
    <div class="row">   
        <div class="col-12">
            <ul>
                {% for caracteristica in record.caracteristicas %}
                    <li>{{caracteristica.category}}: {{caracteristica.title}}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>